<html lang="ja">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/input.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <title>テストWebアプリ</title>
</head>
<body>
    <div class="container">
        <h2>今日({{ today }})のデータを入力</h2>

        <form method="post" class="input-form" action="/input">
            
            <div class="card">
                <div class="form-group">
                    <label for="dish1">料理名 / 廃棄品目名</label>
                    <input type="text" id="dish1" name="item_name" placeholder="例: カレーライス、牛乳" required />
                </div>
                
                <!--
                <div class="form-group">
                    <label for="waste1">廃棄物</label>
                    <input type="text" id="waste1" name="waste1" placeholder="例: 人参の皮、食べ残し" />
                </div>
                -->

                <div class="form-group">
                    <label for="amount1">廃棄量[g]</label>
                    <input type="number" id="amount1" name="weight_grams" placeholder="例: 100" required />
                </div>
            </div>

            <div class="card">
                <div class="form-group">
                    <label>廃棄理由:</label>
                    
                    <div class="radio-options">
                        <input type="radio" id="reason1-opt1" name="reason_text" value="期限切れ" required>
                        <label for="reason1-opt1">期限切れ</label>

                        <input type="radio" id="reason1-opt2" name="reason_text" value="調理中の廃棄">
                        <label for="reason1-opt2">調理中の廃棄</label>

                        <input type="radio" id="reason1-opt3" name="reason_text" value="料理後の廃棄">
                        <label for="reason1-opt3">料理後の廃棄</label>

                        <input type="radio" id="reason1-opt4" name="reason_text" value="食べ残し">
                        <label for="reason1-opt4">食べ残し</label>

                        <input type="radio" id="reason1-opt5" name="reason_text" value="その他">
                        <label for="reason1-opt5">その他</label>
                    </div>
                </div>
            </div>

            <button type="submit" class="submit-btn">送信</button>

        </form>
    </div>

    {% include 'footer.html' %}
</body>
</html>