<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/knowledge.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <title>テストWebアプリ</title>
</head>
<body>

    <main>
        <!--
        <h1>アレンジレシピ</h1>
        <div class="textBox" >
            <div class="knowledge-list-container">
                
                {% for item in knowledge_list %}
                <div class="knowledge-item" data-target="detail-{{ item.id }}">
                    <span class="title">{{ item.category }}</span> 
                </div>
                {% endfor %}
            </div>
        </div>
        -->

        <h1>豆知識</h1>
        <div class="filter-buttons">
            <button class="filter-btn active" data-filter="料理">料理</button>
            <button class="filter-btn" data-filter="掃除">掃除</button>
            <button class="filter-btn" data-filter="可食部">可食部</button>
            <button class="filter-btn" data-filter="その他">その他</button>
            <button class="filter-btn" data-filter="全て">全て表示</button>
        </div>
        <div class="textBox" >
            <div class="knowledge-list-container" id="knowledge-list-container-trivia">
                
                {% for item in knowledge_list %}
                <div class="knowledge-item" data-target="detail-{{ item.id }}" data-category="{{ item.filter_group }}">
                    <span class="title">{{ item.category }}</span> 
                </div>
                {% endfor %}
            </div>
        </div>
    </main>

    {% for item in knowledge_list %}
    <div id="detail-{{ item.id }}" class="detail-modal">
    <div class="detail-content">
        <span class="close-btn">&times;</span>
        <h1>廃棄部分：{{ item.category }}</h1>
        <h2>再利用方法：{{ item.title }}</h2> 
        <p>説明：{{ item.content }}</p> 
    </div>
    </div>
    {% endfor %}

    {% include 'footer.html' %}

    <script src="{{ url_for('static', filename='js/knowledge.js') }}"></script>
</body>
</html>