<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login_style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}" />
    <title>テストWebアプリ</title>
</head>
<body>
    <form id="login" method="post" action="/login">
        <h1>テストWebアプリ</h1>

        <input type="email" id="email" name="email" placeholder="Email" value="a@a"/>

        <input type="text" id="username" name="username" placeholder="Username" value="a"/>

        <input type="password" id="password" name="password" placeholder="Password" value="13d249f2cb4127b40cfa757866850278793f814ded3c587fe5889e889a7a9f6c"/>

        <button type="submit" id="login-button">ログイン</button>

        <p class="head-border">アカウントがない場合</p>

        <button type="button" id="create-account-button" onclick="window.location.href='{{ url_for('register') }}'">
        アカウント作成
        </button>
    </form>
</body>
</html>