<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login_style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}" />
    <title>テストWebアプリ</title>
</head>
    <body>
        <form id="register" method="post" action="/register">
            <h1>テストWebアプリ</h1>

            {% if error %}
            <p class="error-message">{{ error }}</p>
            {% endif %}

            <input type="email" id="email" name="email" placeholder="Email" />

            <input type="text" id="username" name="username" placeholder="Username" />

            <input type="password" id="password" name="password" placeholder="Password" required/>

            <input type="password" id="password_confirm" name="password_confirm" placeholder="Password Again" required/>

            <input type="number" id="members" name="members" placeholder="世帯人数" />

            <input type="text" id="address" name="address" placeholder="住所" />
            
            <button type="submit" id="create-account-button">アカウント作成</button>

            <p class="head-border">アカウントをすでにお持ちの場合</p>

            <button type="button" onclick="window.location.href='{{ url_for('login') }}'">
            ログイン
            </button>
        </form>
    </body>
</html>
